/* Sina Extension for Elementor v3.1.8 */
.sina-ext-wrap{
	padding: 10px 20px 15px;
	background: #fff;
}
.sina-ext-pt{
	padding-top: 15px;
}
.sina-ext-pb{
	padding-bottom: 15px;
}
.sina-ext-options {
	margin-bottom: 15px;
}
.sina-ext-options table tr{
	width: calc(33% - 15px);
	float: left;
	background: #fff;
	padding: 12px 12px 12px 18px;
	border-radius: 6px;
	margin: 0 15px 15px 0;
	box-sizing: border-box;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
}
.sina-ext-options table tr th{
	width: 84%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}
.sina-ext-options table tr td{
	padding-top: 5px;
	padding-bottom: 5px;
}
.sina-ext-toggle input[type='checkbox'] {
	display: none
}
.sina-ext-toggle input[type='checkbox']:checked+label {
	border-color: #1085e4;
	background: #1085e4;
	box-shadow: inset 0 0 0 10px #1085e4
}
.sina-ext-toggle input[type='checkbox']:checked+label>div {
	margin-left: 17px
}
.sina-ext-toggle label {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 15px;
	background: #8c8c8c;
	box-shadow: inset 0 0 0 0 #1085e4;
	border: 2px solid #8c8c8c;
	border-radius: 22px;
	transition: all 200ms ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sina-ext-toggle label div {
	transition: all 200ms ease;
	background: #fdfdfd;
	width: 15px;
	height: 15px;
	border-radius: 10px
}


@media (max-width: 767px) {
	.sina-ext-options table tr{
		width: calc(50% - 15px);
	}
}