/* Sina Extension for Elementor v3.0.10 */
.sina-ext-pt{
    padding-top: 15px;
}
.sina-ext-pb{
    padding-bottom: 15px;
}
.sina-ext-options {
    margin-bottom: 15px;
}
.sina-ext-options table tr{
    width: 33%;
    float: left;
}
.sina-ext-wfull table tr{
    width: 100%;
}
.sina-ext-options table tr th{
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sina-ext-options table tr td{
    padding-top: 5px;
    padding-bottom: 5px;
}
.sina-ext-toggle input[type='checkbox'] {
    display: none
}
.sina-ext-toggle input[type='checkbox']:checked+label {
    border-color: #1085e4;
    background: #1085e4;
    box-shadow: inset 0 0 0 10px #1085e4
}
.sina-ext-toggle input[type='checkbox']:checked+label>div {
    margin-left: 17px
}
.sina-ext-toggle label {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 15px;
    background: #8c8c8c;
    box-shadow: inset 0 0 0 0 #1085e4;
    border: 2px solid #8c8c8c;
    border-radius: 22px;
    transition: all 200ms ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sina-ext-toggle label div {
    transition: all 200ms ease;
    background: #fdfdfd;
    width: 15px;
    height: 15px;
    border-radius: 10px
}


@media (max-width: 879px) {
    .sina-ext-options table tr{
        width: 50%;
    }
}