/* Sina Extension for Elementor v3.2.0 */
.sina-ext-banner{
	padding: 50px 0;
	margin-top: 20px;
	background-size: cover;
	overflow: hidden;
}
.sina-ext-banner h1{
	font-size: 48px;
	line-height: 56px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}
.sina-ext-wrap .settings-error{
	margin: 30px 0 10px;
}
.sina-ext-wrap{
	padding: 0px 20px 15px;
	background: #fff;
	overflow: hidden;
}
.sina-ext-wrap .button{
	padding: 6px 20px;
	border: 0;
	background: #2270af;
	color: #fff;
	transition: 0.3s ease-in-out;
}
.sina-ext-wrap .sina-doc-btn{
	margin-left: calc(100% - 250px);
}
.sina-ext-wrap .button:hover,
.sina-ext-wrap .button:focus,
.sina-ext-wrap .button:active,
.sina-ext-wrap .sina-doc-btn:hover,
.sina-ext-wrap .sina-doc-btn:focus{
	color: #fff;
	background: #055394;
	box-shadow: 0 0 0;
}
.sina-ext-tab-title{
	font-size: 20px;
	text-transform: uppercase;
}
.sina-ext-tab-content{
	display: none;
}
.sina-ext-tab-content.show{
	display: block;
}
.sina-ext-btns{
	border-bottom: 4px solid #1085e4;
}
.sina-ext-btns > a {
	display: inline-block;
	padding: 15px 25px;
	margin-right: 6px;
	margin-bottom: -4px;
	border: 1px solid #1085e4;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	color: #fff;
	background: #1085e4;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s ease;
	outline: 0;
}
.sina-ext-btns > a:focus{
	outline: 0;
	box-shadow: 0 0 0;
}
.sina-ext-btns > a.active{
	background: #fff;
	color: #1085e4;
}
.sina-ext-options table tr{
	width: calc(33% - 18px);
	float: left;
	background: #fff;
	padding: 20px 18px;
	border-radius: 8px;
	margin: 0 18px 18px 0;
	box-sizing: border-box;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
}
.sina-ext-options table th{
	display: none;
}
.sina-ext-options table tr td{
	display: block;
	padding: 0;
	margin: 0;
}
.sina-ext-toggle label{
	display: block;
	overflow: hidden;
}
.sina-ext-options table .sina-ext-label{
	width: calc(100% - 36px);
	float: left;
	font-size: 14px;
	font-weight: 600;
}
.sina-ext-toggle input[type='checkbox'] {
	display: none
}
.sina-ext-toggle:not(.sina-ext-pro) input[type='checkbox']:checked+label .sina-ext-toggle-btn{
	border-color: #1085e4;
	background: #1085e4;
	box-shadow: inset 0 0 0 10px #1085e4;
}
.sina-ext-toggle:not(.sina-ext-pro) input[type='checkbox']:checked+label .sina-ext-toggle-btn >div{
	margin-left: 17px;
}
.sina-ext-toggle .sina-ext-toggle-btn{
	position: relative;
	width: 32px;
	float: left;
	background: #8c8c8c;
	box-shadow: inset 0 0 0 0 #1085e4;
	border: 2px solid #8c8c8c;
	border-radius: 22px;
	transition: all 200ms ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sina-ext-toggle .sina-ext-toggle-btn div {
	transition: all 200ms ease;
	background: #fdfdfd;
	width: 15px;
	height: 15px;
	border-radius: 10px
}
.sina-toggle-section{
	width: calc(33% - 18px);
}
.sina-toggle-section label{
	width: 100%;
}
.sina-toggle-section .sina-ext-label{
	width: 60%;
	float: left;
	font-size: 18px;
	font-weight: 600;
}


.sina-ext-pt{
	padding-top: 15px;
}
.sina-ext-pb{
	padding-bottom: 15px;
}
.sina-ext-my{
	margin: 20px 0;
}


@media (max-width: 784px) {
	.sina-ext-wrap .sina-doc-btn{
		margin-left: calc(100% - 262px);
	}
}


@media (max-width: 767px) {
	.sina-toggle-section,
	.sina-ext-options table tr{
		width: calc(50% - 18px);
	}
}