/* Sina Extension for Elementor v2.0.0 */

/*--------------------------------- Base -------------------------------------- */
.sina-input-field,
.sina-input-field{
	display: inline-block;
	width: inherit;
	height: inherit;
	padding: 10px 12px;
	border: 1px solid #1085e4;
	border-radius: 0;
	font-size: 16px;
	line-height: 24px;
	transition: 0.4s;
}
.sina-input-field:focus,
.sina-input-field:focus{
	border: 1px solid #1085e4;
	outline: none;
	color: #495057;
}
.sina-button:active,
.sina-button:focus,
.sina-button{
	border: 0;
	outline: none;
	cursor: pointer;
}

.sina-search-btn,
.sina-contact-btn,
.sina-subs-btn{
	padding: 11px 20px;
	border-radius: 0;
	font-size: 16px;
	line-height: 24px;
	transition: 0.4s;
}



/*------------------- Banner Slider, Brand Carousel & Review Carousel -------------------*/
.sina-banner-slider{
	position: relative;
}
.sina-slider-content{
	height: 600px;
	padding: 200px 120px 220px;
}
.sina-slider-content .sina-overlay{
	opacity: 1;
}
.sina-review-carousel .owl-next,
.sina-review-carousel .owl-prev,
.sina-banner-slider .owl-next,
.sina-banner-slider .owl-prev {
	position: absolute;
	top: calc(50% - 18px);
	padding: 2px 14px 6px;
	border: 0;
	border-radius: 4px;
	outline: 0;
	background: #1085e4;
	font-family: arial, sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.6s ease-in-out;
}
.sina-review-carousel .owl-next,
.sina-banner-slider .owl-next{
	right: 35px;
	transform: translate( 0, -40px );
}
.sina-review-carousel .owl-prev,
.sina-banner-slider .owl-prev{
	left: 35px;
	transform: translate( 0, 40px );
}
.sina-review-carousel .owl-next span,
.sina-review-carousel .owl-prev span,
.sina-banner-slider .owl-next span,
.sina-banner-slider .owl-prev span{
	float: left;
}
.sina-banner-slider:hover .owl-next,
.sina-banner-slider:hover .owl-prev {
	opacity: 1;
	transform: translate(0);
}
.sina-banner-slider .owl-dots,
.sina-review-carousel .owl-dots {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.sina-banner-slider .owl-dots{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.sina-banner-slider .owl-dot,
.sina-review-carousel .owl-dot {
	width: 20px;
	height: 10px; 
	margin: 25px .2rem;
	background: transparent;
	border: 1px solid #1085e4;
	border-radius: 10px;
	outline: 0;
	cursor: pointer;
	transition: all .25s ease-in-out
}
.sina-banner-slider .owl-dot.active,
.sina-review-carousel .owl-dot.active {
	width: 10px;
	height: 10px;
	background-color: #1085e4;
	border-radius: 50%
}
.sina-anim-invisible{
	visibility: hidden;
}

/*--------------------------------- Blogpost -------------------------------------- */
.sina-blogpost {
	overflow: hidden;
}
.sina-bp-item-2{
	width: 50%;
}
.sina-bp-item-3{
	width: 33.333333%;
}
.sina-bp-item-4{
	width: 25%;
}
.sina-bp-grid{
	overflow: hidden;
}
.sina-bp-col{
	float: left;
	padding: 10px;
	overflow: hidden;
}
.sina-bp{
	border: 1px solid #eee;
}
.sina-bg-thumb{
	position: relative;
}
.sina-bg-thumb .sina-overlay a{
	display: block;
	height: 100%;
}
.sina-bg-thumb:hover .sina-overlay{
	opacity: 1;
}
.sina-bg-thumb img {
	display: block;
}
.sina-bp-content{
	padding: 15px;
}
.sina-bp-title,
.sina-bp-title a{
	display: block;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.1;
	transition: 0.4s;
}
.sina-bp-meta{
	padding-top: .75rem;
	margin-top: 15px;
	margin-bottom: 0;
	border-top: 1px solid #1085e4;
}
.sina-bp-pagination {
	margin: 40px 15px;
}
.sina-bp-pagination .page-numbers {
	display: inline-block;
	margin: 4px 2px;
	padding: 6px 12px;
	border: 1px solid #1085e4;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	transition: all 0.4s ease-in-out;
}
.sina-load-more{
	width: 100%;
	overflow: hidden;
}
.sina-load-more .sina-load-more-btn:active,
.sina-load-more .sina-load-more-btn:focus,
.sina-load-more .sina-load-more-btn{
	outline: 0;
}
.sina-load-more .sina-load-more-btn{
	min-width: 160px;
	margin: 40px 0;
	border: 1px solid #1085e4;
	cursor: pointer;
}

/*--------------------------------- Brand Carousel -------------------------------------- */
.sina-brand-carousel{
	overflow: hidden;
}
.sina-brand-item{
	padding: 20px;
}
.sina-brand-item-inner{
	border: 1px solid #eee;
	transition: all 0.4s ease-in-out;
}
.sina-brand-item-inner a{
	display: block;
	padding: 20px 75px;
	text-align: center;
}
.sina-brand-item-inner a img{
	transition: all 0.4s ease-in-out;
}

/*--------------------------------- Contact Form -------------------------------------- */
.sina-contact-input-half{
	width: calc(50% - 10px);
	float: left;
}
.sina-contact-input-half:last-child{
	margin-left: 20px;
}
.sina-contact-input{
	overflow: hidden;
}
.sina-contact-input .sina-input-field{
	width: calc(33.33333% - 2.45px);
	margin-bottom: 20px;
}
.sina-contact-input .sina-input-block{
	display: block;
	width: 100%;
	float: left;
}
.sina-contact-input textarea.sina-input-field{
	height: 178px;
	resize: vertical;
}

/*-------------------------- Countdown --------------------------*/
.sina-countdown {
	text-align: center;
}
.sina-countdown .sina-cd {
	display: inline-block;
	width: 100px;
	height: 110px;
	margin: 6px;
	padding: 10px;
	font-size: 55px;
	line-height: 60px;
	text-align: center;
	border-radius: 8px;
}
.sina-countdown .sina-cd-text {
	font-size: 16px;
	line-height: 24px;
}
.sina-countdown .sina-cd-message {
	font-size: 40px;
	line-height: 50px;
}

/*--------------------------------- Mailchimp Subscribe Form -------------------------------------- */
.sina-search-form,
.sina-subs-form{
	overflow: hidden;
	text-align: center;
}
.sina-search-box .sina-input-field,
.sina-subs-input .sina-input-field{
	width: 300px;
	margin-bottom: 20px;
}
.sina-search-box .sina-input-block,
.sina-subs-input .sina-input-block{
	display: block;
	width: 100%;
	float: left;
}
.sina-search-box .sina-search-btn,
.sina-subs-input .sina-subs-btn{
	margin-left: -4px;
}
.sina-search-box .sina-search-btn.sina-input-block,
.sina-subs-input .sina-subs-btn.sina-input-block{
	display: inline;
	width: inherit;
	margin-left: 0;
}
.sina-subs-form a{
	display: none;
}
.sina-contact-error,
.sina-contact-success,
.sina-subs-error,
.sina-subs-success{
	display: none;
	margin: 15px 0 0;
	padding: 0;
	color: #0a0;
	text-transform: inherit;
}
.sina-contact-error,
.sina-subs-error{
	color: #f40;
}
.sina-contact-process,
.sina-subs-process{
	display: none;
	margin: 15px 0 0;
	color: #ccc;
}

/*-------------------------- News Ticker --------------------------*/
.sina-news-ticker{
	position: relative;
	overflow: hidden;
}
.sina-news-content,
.sina-news{
	float: left;
}
.sina-news-ticker .sina-nt-left-label,
.sina-news-ticker .sina-nt-right-label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 20px;
	float: left;
	font-family: arial;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
}
.sina-news-ticker .sina-nt-right-label{
	left: inherit;
	right: 0;
}
.sina-news-ticker .sina-news a{
	display: block;
	padding: 15px;
	font-family: arial;
	font-size: 15px;
	line-height: 26px;
	text-decoration: none;
}

/*-------------------------- Particle Layer --------------------------*/
.sina-particle-layer{
	position: relative;
	width: 100%;
	padding: 180px 50px;
	overflow: hidden;
}
.sina-banner-container{
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.sina-banner-title{
	margin-bottom: 15px;
	font-size: 40px;
	line-height: 50px;
	color: #eee;
}
.sina-banner-title > *,
.sina-banner-subtitle > *,
.sina-banner-desc > *{
	margin: 0 !important;
}
.sina-banner-desc > p{
	margin: 0 0 10px 0 !important;
}
.sina-banner-subtitle{
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 40px;
	color: #eee;
}
.sina-banner-desc{
	font-size: 16px;
	line-height: 22px;
	color: #eee;
}
.sina-banner-btns{
	margin-top: 40px;
}
.sina-load-more-btn,
.sina-pricing-btn .sina-order-btn,
.sina-banner-btns .sina-banner-pbtn,
.sina-banner-btns .sina-banner-sbtn {
	padding: 15px 30px;
	border-radius: 4px;
	font-weight: 600;
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
}
.sina-banner-sbtn{
	margin-left: 20px;
}
.sina-particle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------- Portfolio -------------------------------------- */
.sina-posts-tab,
.sina-portfolio{
	overflow: hidden;
}
.sina-pt-btns,
.sina-portfolio-btns{
	margin-bottom: 30px;
	text-align: center;
}
.sina-pt-cat-btn,
.sina-portfolio-btn {
	margin: 6px;
	padding: 10px 15px;
	font-size: 16px;
	text-transform: uppercase;
	transition: 0.4s;
}
.sina-portfolio-item{
	float: left;
}
.sina-pf-item-4{
	width: 25%;
	height: 300px;
}
.sina-pf-item-5{
	width: 20%;
	height: 240px;
}
.sina-pf-grid-sizer{
	width: 16.666667%;
}
.sina-pf-item-6,
.sina-pf-item-11{
	width: 16.666667%;
	height: 200px;
}
.sina-pf-item-12{
	width: 16.666667%;
	height: 400px;
}
.sina-pf-item-21{
	width: 33.333333%;
	height: 200px;
}
.sina-pf-item-3,
.sina-pf-item-22{
	width: 33.333333%;
	height: 400px;
}
.sina-pf-item-31{
	width: 50%;
	height: 200px;
}
.sina-pf-item-32{
	width: 50%;
	height: 400px;
}
.sina-pf-item-2,
.sina-pf-item-33{
	width: 50%;
	height: 600px;
}
.sina-portfolio-item-inner{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.sina-portfolio-item-inner:hover .sina-portfolio-overlay{
	opacity: .9;
}
.sina-portfolio-icons {
	align-items: center;
	justify-content: center;
	width: 100%;
}
.sina-portfolio-overlay i{
	width: 44px;
	height: 44px;
	padding: 14px;
	border-radius: 50%;
	font-size: 18px;
	transition: 0.4s;
}
.sina-portfolio-zoom{
	margin-right: 20px;
}
/* Effects */
.sina-portfolio-overlay.sina-pf-effect-zoom{
	transform: scale(.1);
}
.sina-portfolio-item-inner:hover .sina-portfolio-overlay.sina-pf-effect-zoom{
	transform: scale(1);
}
.sina-portfolio-item-inner:hover .sina-pf-effect-move .sina-portfolio-zoom,
.sina-portfolio-item-inner:hover .sina-pf-effect-move .sina-portfolio-link{
	margin-top: 0;
	margin-bottom: 0;
}
.sina-portfolio-link,
.sina-portfolio-zoom{
	transition: 0.5s;
}
.sina-pf-effect-move .sina-portfolio-zoom{
	margin-top: 100px;
}
.sina-pf-effect-move .sina-portfolio-link{
	margin-bottom: 100px;
}

/*--------------------------------- Posts Tab -------------------------------------- */
.sina-pt-content{
	overflow: hidden;
}
.sina-pt-item{
	display: none;
}
.sina-pt-item.active{
	display: block;
}
.sina-pt-content-content .sina-overlay {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
	transition: all 0.4s;
}
.sina-pt-content-content .sina-overlay:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.sina-pt-content-content{
	width: 60%;
	padding: 15px 0 0 25px;
	overflow: hidden;
	float: right;
}
.sina-pt-content-content .sina-pt-item{
	position: relative;
	height: 422px;
}
.sina-pt-thumb-content{
	position: absolute;
	top: inherit;
	bottom: 0;
	width: 100%;
	padding: 20px 15px;
	opacity: 1;
}
.sina-pt-thumb-content h2 a{
	font-size: 30px;
	line-height: 30px;
}
.sina-pt-thumb-content h2,
.sina-pt-thumb-content p {
	margin: 0;
}
.sina-pt-thumb-content p span{
	margin-right: 10px;
}
.sina-pt-thumb-content a,
.sina-pt-thumb-content a:hover,
.sina-pt-thumb-content a:focus {
	color: #fff;
}
.sina-pt-content .sina-pt-posts{
	width: 40%;
	float: left;
}
.sina-pt-content .sina-pt-post{
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.sina-pt-content .sina-pt-post:last-child{
	border-bottom: 0;
}
.sina-pt-content-right .sina-pt-posts{
	float: right;
}
.sina-pt-content-right .sina-pt-content-content{
	float: left;
	padding: 15px 25px 0 0;
}
.sina-pt-content .sina-pt-btn{
	display: block;
}
.sina-pt-title-wraper{
	align-items: center;
	padding-right: 20px;
	width: 60%;
	height: 120px;
	float: left;
}
.sina-pt-content-right .sina-pt-title-wraper{
	padding-left: 20px;
	padding-right: 0;
}
.sina-pt-title-wraper p{
	margin-bottom: 0;
}
.sina-pt-title{
	width: 100%;
}
.sina-pt-title h3{
	margin: 0;
	font-size: 18px;
	line-height: 20px;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
.sina-pt-thumb{
	width: 40%;
	height: 120px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}
.sina-pt-content-right .sina-pt-thumb{
	padding-right: 15px;
	padding-left: 0;
}

/*--------------------------------- Review Carousel -------------------------------------- */
.sina-review-item{
	text-align: center;
}
.sina-review-carousel .owl-item .sina-review-face {
	width: 130px;
	margin: 20px auto;
	border-radius: 50%;
}
.sina-review-name{
	margin-top: 20px;
}
.sina-review-position,
.sina-review-company{
	margin: 0;
	text-transform: uppercase;
}
.sina-review-comment{
	margin-top: 20px;
}
.sina-review-carousel .owl-next{
	transform: translate( 20px );
}
.sina-review-carousel .owl-prev{
	transform: translate( -20px );
}
.sina-review-carousel:hover .owl-next,
.sina-review-carousel:hover .owl-prev{
	opacity: 1;
	transform: translate(0);
}