/* Sina Extension for Elementor v3.1.11 */

/*--------------------------------- General -------------------------------------- */
.sina-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.4s;
}
.sina-bg-cover{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.sina-flex{
	display: flex;
}
.sina-login-remember-wrap input[type="checkbox"],
.sina-login-remember-wrap input[type="radio"]{
	height: inherit;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Common */
.sina-hover-move:hover,
.sina-hover-zoom:hover,
.sina-content-box-move:hover,
.sina-content-box-zoom:hover,
.sina-pricing-move:hover,
.sina-pricing-zoom:hover{
	z-index: 999;
}
.sina-pricing-title,
.sina-price-tag,
.sina-price-prefix,
.sina-pricing-body li,
.sina-bp,
.sina-bp-text,
.sina-bp-col,
.sina-bp-meta,
.sina-bp-cats,
.sina-bp-cats a,
.sina-pc-meta a,
.sina-bp-meta a,
.sina-transform-content,
.sina-content-slider .owl-item,
.sina-brand-carousel .owl-item,
.sina-posts-carousel .owl-item,
.sina-brand-item-inner,
.sina-cs-item,
.sina-pc-thumb,
.sina-brand-item-inner a img,
.sina-flipbox-title,
.sina-flipbox-icon i,
.sina-content-box-icon i,
.sina-content-box-icon img,
.sina-content-box-title,
.sina-content-box-title > a,
.sina-content-box-desc,
.sina-pt-cat-btn,
.sina-portfolio-title,
.sina-portfolio-desc,
.sina-portfolio-btn {
	transition: all 0.4s;
}
.sina-button i,
.sina-dynamic-btn i,
.sina-read-more i,
.sina-order-btn i,
.sina-banner-pbtn i,
.sina-banner-sbtn i{
	display: inline-block;
	transition: all 0.2s cubic-bezier(0.1, 0.8, 0.8, 1);
}
.sina-table table th,
.sina-table table td,
.sina-table table tr{
	transition: all 0.2s;
}
.sina-posts-carousel,
.sina-brand-carousel,
.sina-content-slider,
.sina-review-carousel,
.sina-banner-slider{
	direction: ltr;
}
.sina-transform-content,
.sina-load-more,
.sina-bp-list .sina-bp,
.sina-modal-content,
.sina-accordion-item,
.sina-accordion-body,
.sina-blogpost,
.sina-bp-grid,
.sina-bp-col,
.sina-bp,
.sina-brand-carousel,
.sina-contact-input,
.xzoom-hidden,
.sina-portfolio,
.sina-posts-tab,
.sina-pt-item,
.sina-pt-content,
.sina-pt-content .sina-pt-post {
	overflow: hidden;
}
.sina-login-remember-wrap,
.sina-google-map,
.sina-pt-title,
.sina-table table,
.sina-team img,
.sina-load-more,
.sina-bp-item-1{
	width: 100%;
}
/* Template Editor button hide */
.sina-modal-content .elementor-element-overlay,
.sina-transform .elementor-element-overlay,
.sina-accordion-body .elementor-element-overlay,
.sina-content-box .elementor-element-overlay,
.sina-content-slider .elementor-element-overlay,
.sina-accordion-item > .sina-accordion-header > .sina-accordion-icon .on,
.sina-accordion-item.open > .sina-accordion-header > .sina-accordion-icon .off,
.sina-accordion-body,
.sina-subs-form a,
.sina-pt-item{
	display: none;
}
.sina-bg-thumb img,
.sina-pt-item.active,
.sina-pt-content .sina-pt-btn,
.sina-accordion-item.open > .sina-accordion-header > .sina-accordion-icon .on{
	display: block;
}
.sina-team-social li,
.sina-bp-cats,
.sina-bp-cats a,
.sina-fancytext .sina-fancytext-strings > .animated,
.sina-product-zoomer{
	display: inline-block;
}
.twentytwenty-before-label:before,
.twentytwenty-after-label:before,
.sina-social li a i,
.sina-portfolio-overlay i,
.sina-team-social li i {
	text-align: center;
	transition: all 0.4s;
}
.sina-bp-list .sina-bg-thumb,
.sina-bp-list .sina-bp-content,
.sina-bp-col,
.sina-news,
.sina-news-content,
.sina-portfolio-item,
.sina-pt-content .sina-pt-posts,
.sina-pt-content-right .sina-pt-content-content,
.sina-posts-carousel .owl-next span,
.sina-posts-carousel .owl-prev span,
.sina-content-slider .owl-next span,
.sina-content-slider .owl-prev span,
.sina-review-carousel .owl-next span,
.sina-review-carousel .owl-prev span,
.sina-banner-slider .owl-next span,
.sina-banner-slider .owl-prev span{
	float: left;
}
.sina-input-field{
	display: inline-block;
	width: inherit;
	height: inherit;
	vertical-align: inherit !important;
	transition: all 0.4s;
}
.sina-input-field:focus,
.sina-input-field:focus,
.sina-video-play,
.sina-video-play:focus,
.mfp-arrow.mfp-prevent-close{
	outline: none;
}
.sina-button:active,
.sina-button:focus,
.sina-button{
	border: 0;
	outline: none;
	cursor: pointer;
}
.sina-pt-thumb-content h2,
.sina-pt-thumb-content p,
.sina-pricing-title,
.sina-modal-header{
	margin: 0;
}
.sina-social{
	margin: 0;
	padding: 0;
}

/* Magnific Popup */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	top: -44px;
	right: 0 !important;
	padding-right: 0 !important;
	background: transparent;
	outline: none;
	font-weight: 400;
}
img.mfp-img{
	padding-top: 0;
}

/* Ribbon */
.sina-ribbon-left,
.sina-ribbon-right{
	position: absolute;
	top: 25px;
	right: -85px;
	width: 250px;
	padding: 5px;
	text-align: center;
	z-index: 9;
	transform: rotate(45deg);
}
.sina-ribbon-left{
	left: -85px;
	right: auto;
	transform: rotate(-45deg);
}


/*--------------------------------- Accordion -------------------------------------- */
.sina-accordion-item .sina-accordion-header{
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	cursor: pointer;
	transition: all 0.4s;
}
.sina-accordion-desc p{
	margin-bottom: 0;
}

/*------------------- Banner Slider, Brand Carousel & Review Carousel -------------------*/
.sina-banner-slider{
	position: relative;
}
.sina-slider-content .sina-overlay{
	opacity: 1;
}
.sina-posts-carousel .owl-next,
.sina-posts-carousel .owl-prev,
.sina-content-slider .owl-next,
.sina-content-slider .owl-prev,
.sina-review-carousel .owl-next,
.sina-review-carousel .owl-prev,
.sina-banner-slider .owl-next,
.sina-banner-slider .owl-prev {
	position: absolute;
	padding: 2px 14px 6px;
	border: 0;
	outline: 0;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	opacity: 0;
	transition: all 0.6s;
}
.sina-posts-carousel .owl-next,
.sina-content-slider .owl-next,
.sina-review-carousel .owl-next,
.sina-banner-slider .owl-next{
	right: 35px;
	transform: translate(0, -40px);
}
.sina-posts-carousel .owl-prev,
.sina-content-slider .owl-prev,
.sina-review-carousel .owl-prev,
.sina-banner-slider .owl-prev{
	left: 35px;
	transform: translate(0, 40px);
}
.sina-content-slider:hover .owl-next,
.sina-content-slider:hover .owl-prev,
.sina-posts-carousel:hover .owl-next,
.sina-posts-carousel:hover .owl-prev,
.sina-banner-slider:hover .owl-next,
.sina-banner-slider:hover .owl-prev {
	opacity: 1;
	transform: translate(0);
}
.sina-banner-slider .owl-dots{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.sina-posts-carousel .owl-dot,
.sina-content-slider .owl-dot,
.sina-banner-slider .owl-dot,
.sina-review-carousel .owl-dot {
	width: 20px;
	height: 10px;
	margin: 25px 5px;
	padding: 0;
	background: transparent;
	border: 1px solid #1085e4;
	border-radius: 10px;
	outline: 0;
	cursor: pointer;
	transition: all 0.25s;
}
.sina-posts-carousel .owl-dot.active,
.sina-content-slider .owl-dot.active,
.sina-banner-slider .owl-dot.active,
.sina-review-carousel .owl-dot.active{
	width: 10px;
	border-radius: 50%
}
.sina-anim-invisible{
	visibility: hidden;
}

/*--------------------------------- Blogpost -------------------------------------- */
.sina-bp-grid-sizer{
	width: 8.333333%;
}
.sina-bp-item-2{
	width: 50%;
}
.sina-bp-item-3{
	width: 33.333333%;
}
.sina-bp-item-4{
	width: 25%;
}
.sina-bg-thumb{
	position: relative;
}
.sina-bg-thumb .sina-overlay > a{
	display: block;
	height: 100%;
}
.sina-bg-thumb:hover .sina-overlay{
	opacity: 1;
}
.sina-pc-title,
.sina-pc-title a,
.sina-bp-title,
.sina-bp-title a{
	display: block;
	transition: all 0.4s;
}
.sina-bp-pagination .page-numbers{
	display: inline-block;
	text-align: center;
	transition: all 0.4s;
}
.sina-load-more .sina-load-more-btn{
	min-width: 160px;
}

/*--------------------------------- Dynamic Button -------------------------------------- */
.sina-button,
.sina-banner-pbtn,
.sina-banner-sbtn,
.sina-video-play,
.sina-social a,
.sina-team-social a,
.sina-order-btn,
.sina-read-more,
.sina-dynamic-btn{
	display: inline-block;
	text-align: center;
	overflow: hidden;
	transition: all 0.4s;
}
.sina-banner-pbtn,
.sina-banner-sbtn{
	overflow: inherit;
}

/*--------------------------------- Posts Carousel -------------------------------------- */
.sina-pc-thumb{
	overflow: hidden;
	position: relative;
}
.sina-pc-thumb .sina-overlay{
	opacity: 1;
}
.sina-pc-content{
	position: relative;
	width: 100%;
}

/*--------------------------------- Brand Carousel -------------------------------------- */
.sina-brand-item-inner a{
	display: block;
	text-align: center;
}

/*--------------------------------- Contact Form -------------------------------------- */
.sina-contact-input-half{
	width: calc(50% - 10px);
	float: left;
}
.sina-contact-input-half:last-child{
	margin-left: 20px;
}
.sina-contact-input .sina-input-field{
	width: calc(33.33333% - 3.12px);
}
.sina-contact-input .sina-input-block{
	display: block;
	width: 100%;
	float: left;
}
.sina-contact-input textarea.sina-input-field{
	resize: vertical;
}

/*-------------------------- Content Box ----------------------- */
.sina-pricing,
.sina-content-box{
	position: relative;
	overflow: hidden;
	transition: all 0.4s;
}
.sina-content-box:hover .sina-content-box-icon.sina-img-zoom img{
	transform: scale(1.15);
}

/*-------------------------- Countdown --------------------------*/
.sina-countdown .sina-cd {
	display: inline-block;
	text-align: center;
}

/*-------------------------- Fancytext --------------------------*/
.sina-fancytext .typed-cursor {
	font-weight: 400  !important;
	font-style: normal !important;
	opacity: 1;
	animation: blink_cursor 0.7s infinite;
}

/*-------------------------- Flip Box --------------------------*/
.sina-flipbox{
	position: relative;
	perspective: 1000px;
}
.sina-flipbox-front,
.sina-flipbox-back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	overflow: hidden;
	transition: all 0.5s;
}
/*Verticle flip*/
.sina-flipbox-front.sina-flipbox-effect-h-flip{
	transform: rotateY(0deg);
}
.sina-flipbox-back.sina-flipbox-effect-h-flip{
	transform: rotateY(-180deg);
}
.sina-flipbox:hover .sina-flipbox-front.sina-flipbox-effect-h-flip{
	transform: rotateY(180deg);
}
.sina-flipbox:hover .sina-flipbox-back.sina-flipbox-effect-h-flip{
	transform: rotateY(0deg);
}
/*Horizontal flip*/
.sina-flipbox-front.sina-flipbox-effect-v-flip{
	transform: rotateX(0deg);
}
.sina-flipbox-back.sina-flipbox-effect-v-flip{
	transform: rotateX(-180deg);
}
.sina-flipbox:hover .sina-flipbox-front.sina-flipbox-effect-v-flip{
	transform: rotateX(180deg);
}
.sina-flipbox:hover .sina-flipbox-back.sina-flipbox-effect-v-flip{
	transform: rotateX(0deg);
}
/*Zoom*/
.sina-flipbox-front.sina-flipbox-effect-zoom{
	opacity: 1;
	transform: scale(1);
}
.sina-flipbox-back.sina-flipbox-effect-zoom{
	opacity: 0;
	transform: scale(.5);
}
.sina-flipbox:hover .sina-flipbox-back.sina-flipbox-effect-zoom{
	opacity: 1;
	transform: scale(1);
}

/*--------------------------------- Product Zoomer -------------------------------------- */
.sina-product-title a,
.sina-product-title{
	margin: 0 0 6px 0;
}
.sina-product-desc{
	margin: 0 0 20px 0;
}
.xzoom-source img,
.xzoom-preview img,
.xzoom-lens img {
	display: block;
	max-width: none;
	max-height: none
}
.xzoom-thumb-item {
	cursor: pointer;
	float: left
}
.elementor .xzoom-gallery {
	display: inline-block;
	border: 1px solid #cecece;
	width: 100%
}
.elementor .xzoom {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 20px
}
.xzoom-source,
.xzoom-hidden {
	display: block;
	position: static;
	float: none;
	clear: both
}
.xzoom-preview {
	border: 1px solid #888;
	box-shadow: -0 -0 10px rgba(0, 0, 0, 0.50)
}
.xzoom-lens {
	border: 1px solid #555;
	box-shadow: -0 -0 10px rgba(0, 0, 0, 0.50);
	cursor: crosshair
}
.elementor .xactive {
	box-shadow: 0 0 3px 0 rgba(74, 169, 210, 1);
	border: 1px solid #4aaad2
}

/*-------------------------- Login Form --------------------------*/
.sina-login-remember{
	height: inherit;
}

/*--------------------------------- Mailchimp Subscribe Form -------------------------------------- */
.sina-search-form,
.sina-subs-form{
	overflow: hidden;
	text-align: center;
}
.sina-subs-input .sina-input-field{
	width: 300px;
}
.sina-search-box .sina-input-block,
.sina-subs-input .sina-input-block{
	display: block;
	width: 100%;
	float: left;
}
.sina-search-box .sina-search-btn.sina-input-block,
.sina-subs-input .sina-subs-btn.sina-input-block{
	display: inline;
	width: inherit;
	margin-left: 0;
}
.sina-error-text,
.sina-success-text,
.sina-subs-error,
.sina-subs-success{
	display: none;
	margin: 0;
	padding: 0;
	color: #0a0;
	text-transform: inherit;
}
.sina-error-text,
.sina-subs-error{
	color: #f40;
}
.sina-process-text,
.sina-subs-process{
	display: none;
	margin: 0;
	color: #ccc;
}

/*-------------------------- Modal Box --------------------------*/
.sina-modal-overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 99999;
}
.sina-modal-area{
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.sina-modal-body{
	overflow-y: auto;
}

/*-------------------------- News Ticker --------------------------*/
.sina-news-ticker{
	position: relative;
	overflow: hidden;
}
.sina-news-ticker .sina-nt-left-label,
.sina-news-ticker .sina-nt-right-label{
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	text-align: center;
}
.sina-news-ticker .sina-nt-right-label{
	left: inherit;
	right: 0;
}
.sina-news-ticker .sina-news a{
	display: block;
	text-decoration: none;
}

/*-------------------------- Particle Layer --------------------------*/
.sina-particle-layer{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.sina-banner-container{
	position: relative;
	z-index: 1;
	margin: 0 auto;
}
.sina-banner-desc > p{
	margin: 0 0 10px 0 !important;
}
.sina-particle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*-------------------------- Pie Chart --------------------------*/
.sina-piechart {
	position: relative;
	margin: 0 auto;
}
.sina-piechart .sina-piechart-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

/*--------------------------------- Portfolio -------------------------------------- */
.sina-pf-item-4{
	width: 25%;
	height: 300px;
}
.sina-pf-item-5{
	width: 20%;
	height: 240px;
}
.sina-pf-grid-sizer{
	width: 16.666667%;
}
.sina-pf-item-6,
.sina-pf-item-11{
	width: 16.666667%;
	height: 200px;
}
.sina-pf-item-12{
	width: 16.666667%;
	height: 400px;
}
.sina-pf-item-21{
	width: 33.333333%;
	height: 200px;
}
.sina-pf-item-3,
.sina-pf-item-22{
	width: 33.333333%;
	height: 400px;
}
.sina-pf-item-31{
	width: 50%;
	height: 200px;
}
.sina-pf-item-32{
	width: 50%;
	height: 400px;
}
.sina-pf-item-2,
.sina-pf-item-33{
	width: 50%;
	height: 600px;
}
.sina-portfolio-item-inner{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.sina-portfolio-item-inner:hover .sina-portfolio-overlay{
	opacity: 1;
}
.sina-portfolio-icons{
	align-items: center;
	justify-content: center;
	width: 100%;
}
.sina-portfolio-content{
	width: 100%;
}

/* Effects */
.sina-portfolio-overlay.sina-pf-effect-zoom{
	transform: scale(.1);
}
.sina-portfolio-item-inner:hover .sina-portfolio-overlay.sina-pf-effect-zoom{
	transform: scale(1);
}
.sina-portfolio-item-inner:hover .sina-pf-effect-move .sina-portfolio-zoom,
.sina-portfolio-item-inner:hover .sina-pf-effect-move .sina-portfolio-link,
.sina-portfolio-item-inner:hover .sina-pf-effect-move .sina-portfolio-desc,
.sina-portfolio-item-inner:hover .sina-pf-effect-move .sina-portfolio-title{
	transform: translate(0);
}
.sina-portfolio-link,
.sina-portfolio-zoom{
	display: inline-block;
	transition: all 0.5s;
}
.sina-pf-effect-move .sina-portfolio-title{
	transform: translate(0, -50px);
}
.sina-pf-effect-move .sina-portfolio-desc{
	transform: translate(0, 50px);
}
.sina-pf-effect-move .sina-portfolio-zoom{
	transform: translate(-50px, 0);
}
.sina-pf-effect-move .sina-portfolio-link{
	transform: translate(50px, 0);
}

/*--------------------------------- Posts Tab -------------------------------------- */
.sina-pt-content-content .sina-overlay {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
	transition: all 0.4s;
}
.sina-pt-content-content .sina-overlay:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.sina-pt-content-content{
	overflow: hidden;
	float: right;
}
.sina-pt-content-content .sina-pt-item{
	position: relative;
}
.sina-pt-thumb-content{
	position: absolute;
	top: inherit;
	bottom: 0;
	width: 100%;
	padding: 20px 15px;
	opacity: 1;
}
.sina-pt-thumb-content p span{
	margin-right: 10px;
}
.sina-pt-content .sina-pt-post:last-child{
	border-bottom: 0 !important;
}
.sina-bp-thumb-right .sina-bg-thumb,
.sina-bp-thumb-right .sina-bp-content,
.sina-pt-content-right .sina-pt-posts{
	float: right;
}
.sina-pt-title-wraper{
	align-items: center;
	padding-right: 20px;
	float: left;
}
.sina-pt-content-right .sina-pt-title-wraper{
	padding-left: 20px;
	padding-right: 0;
}
.sina-pt-title-wraper p{
	margin-bottom: 0;
}
.sina-pt-title h3{
	margin: 0;
	cursor: pointer;
	transition: all 0.4s;
}
.sina-pt-thumb{
	overflow: hidden;
	float: left;
	cursor: pointer;
}
.sina-pt-content-right .sina-pt-thumb{
	padding-right: 15px;
	padding-left: 0;
}

/*--------------------------------- Pricing -------------------------------------- */
.sina-pricing {
	text-align: center;
}
.sina-pricing-body{
	margin: 10px 0 20px;
	padding: 0;
	list-style: none;
}

/*-------------------------- Progressbars --------------------------*/
.sina-progressbars .sina-bar-bg {
	display: block;
	width: 100%;
}
.sina-progressbars .sina-bar-content {
	width: 0;
	height: 100%;
}
.sina-piechart .sina-piechart-center,
.sina-progressbars .sina-bar-percent {
	width: 100%;
	align-self: center;
}

/*--------------------------------- Review Carousel -------------------------------------- */
.sina-review-item{
	text-align: center;
}
.sina-review-carousel .owl-item .sina-review-face {
	margin: 20px auto;
	border-radius: 50%;
}
.sina-posts-carousel .owl-next,
.sina-review-carousel .owl-next{
	transform: translate( 20px, -32px );
}
.sina-posts-carousel .owl-prev,
.sina-review-carousel .owl-prev{
	transform: translate( -20px, -32px );
}
.sina-posts-carousel:hover .owl-next,
.sina-posts-carousel:hover .owl-prev,
.sina-review-carousel:hover .owl-next,
.sina-review-carousel:hover .owl-prev{
	opacity: 1;
	transform: translate(0, -32px);
}

/*--------------------------------- Table -------------------------------------- */
.sina-table{
	overflow-x: auto;
}
.sina-table table{
	border-collapse: collapse;
}

/*--------------------------------- Team -------------------------------------- */
.sina-team {
	position: relative;
	overflow: hidden;
	text-align: center;
}
.sina-team-social {
	padding: 20px 0 0;
}
/* Move Effect */
.sina-team:hover .sina-team-overlay{
	opacity: 1;
}
.sina-team.sina-team-move .sina-team-social{
	margin: 0;
}
.sina-team.sina-team-move .sina-team-name,
.sina-team.sina-team-move .sina-team-position{
	transform: translate(0, -50px);
	transition: all 0.4s 0.1s;
}
.sina-team.sina-team-move .sina-team-desc,
.sina-team.sina-team-move .sina-team-social{
	transform: translate(0, 50px);
	transition: all 0.4s 0.1s;
}
.sina-team.sina-team-move:hover .sina-team-social,
.sina-team.sina-team-move:hover .sina-team-desc,
.sina-team.sina-team-move:hover .sina-team-position,
.sina-team.sina-team-move:hover .sina-team-name{
	transform: translate(0);
}

/* Zoom Effect */
.sina-team.sina-team-zoom .sina-team-overlay{
	transform: scale(0.1);
}
.sina-team.sina-team-zoom:hover .sina-team-overlay{
	transform: scale(1);
}

/*----------------------------- User Counter & Visit Counter ----------------------------------- */
.sina-visit-text,
.sina-visit-number,
.sina-uc-number,
.sina-uc-text{
	margin: 0;
	display: block;
}

/*--------------------------------- Video -------------------------------------- */
.sina-video{
	text-align: center;
}


/* HOVER EFFECTS */
.sina-hv-slide-b,
.sina-hv-slide-t,
.sina-hv-slide-l,
.sina-hv-slide-r,
.sina-hv-slide-rt,
.sina-hv-slide-lt,
.sina-hv-slide-rb,
.sina-hv-slide-lb,
.sina-hv-fade,
.sina-hv-door-v,
.sina-hv-door-h,
.sina-hv-zoom{
	position: relative;
	z-index: 1;
}
.sina-hv-fade:before,
.sina-hv-zoom:before,
.sina-hv-door-v:before,
.sina-hv-door-h:before,
.sina-hv-slide-lt:before,
.sina-hv-slide-rt:before,
.sina-hv-slide-lb:before,
.sina-hv-slide-rb:before,
.sina-hv-slide-b:before,
.sina-hv-slide-t:before,
.sina-hv-slide-l:before,
.sina-hv-slide-r:before{
	position: absolute;
	content: '';
	z-index: -1;
	opacity: 0;
	transition: all 0.4s;
}
.sina-hv-fade:hover:before,
.sina-hv-zoom:hover:before,
.sina-hv-door-v:hover:before,
.sina-hv-door-h:hover:before,
.sina-hv-slide-lt:hover:before,
.sina-hv-slide-rt:hover:before,
.sina-hv-slide-lb:hover:before,
.sina-hv-slide-rb:hover:before,
.sina-hv-slide-b:hover:before,
.sina-hv-slide-t:hover:before,
.sina-hv-slide-l:hover:before,
.sina-hv-slide-r:hover:before{
	opacity: 1;
}

.sina-hv-slide-b:before,
.sina-hv-slide-t:before{
	width: 100%;
	height: 0;
	left: 0;
}
.sina-hv-slide-b:before{
	bottom: 0;
}
.sina-hv-slide-t:before{
	top: 0;
}
.sina-hv-slide-b:hover:before,
.sina-hv-slide-t:hover:before{
	height: 100%;
}

.sina-hv-slide-l:before,
.sina-hv-slide-r:before{
	width: 0;
	height: 100%;
	bottom: 0;
}
.sina-hv-slide-l:before{
	left: 0;
}
.sina-hv-slide-r:before{
	right: 0;
}
.sina-hv-slide-l:hover:before,
.sina-hv-slide-r:hover:before{
	width: 100%;
}

.sina-hv-slide-lt:before,
.sina-hv-slide-rt:before,
.sina-hv-slide-lb:before,
.sina-hv-slide-rb:before{
	width: 100%;
	height: 100%;
}
.sina-hv-slide-lb:before{
	top: 100%;
	left: -100%;
	transform: rotate(-45deg);
}
.sina-hv-slide-rb:before{
	top: 100%;
	right: -100%;
	transform: rotate(45deg);
}
.sina-hv-slide-lt:before{
	top: -100%;
	left: -100%;
	transform: rotate(45deg);
}
.sina-hv-slide-rt:before{
	top: -100%;
	right: -100%;
	transform: rotate(-45deg);
}

.sina-hv-slide-lb:hover:before,
.sina-hv-slide-lt:hover:before{
	top: 0;
	left: 0;
	transform: rotate(0deg);
}
.sina-hv-slide-rb:hover:before,
.sina-hv-slide-rt:hover:before{
	top: 0;
	right: 0;
	transform: rotate(0deg);
}

.sina-hv-zoom:before,
.sina-hv-fade:before{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.sina-hv-zoom:before{
	transform: scale(0.3);
}
.sina-hv-zoom:hover:before{
	transform: scale(1);
}
.sina-hv-door-v:before{
	width: 100%;
	height: 0;
	top: 50%;
	left: 0;
}
.sina-hv-door-v:hover:before{
	height: 100%;
	top: 0;
}
.sina-hv-door-h:before{
	width: 0;
	height: 100%;
	left: 50%;
	top: 0;
}
.sina-hv-door-h:hover:before{
	width: 100%;
	left: 0;
}


/* ANIMATIONS */
.sina-anim-right-move:hover i{
	transform: translate(8px);
}
.sina-anim-left-move:hover i{
	transform: translate(-8px);
}
.sina-anim-zooming:hover i{
	animation: sina-anim-zooming 1s cubic-bezier(0.1, 0.8, 0.8, 1) infinite;
}
.sina-anim-right-moving:hover i{
	animation: sina-anim-right-moving 0.8s cubic-bezier(0.1, 0.8, 0.8, 1) infinite;
}
.sina-anim-left-moving:hover i{
	animation: sina-anim-left-moving 0.8s cubic-bezier(0.1, 0.8, 0.8, 1) infinite;
}
.sina-anim-right-bouncing:hover i{
	animation: sina-anim-right-bouncing 1s cubic-bezier(0.1, 0.8, 0.8, 1) infinite;
}
.sina-anim-left-bouncing:hover i{
	animation: sina-anim-left-bouncing 1s cubic-bezier(0.1, 0.8, 0.8, 1) infinite;
}
.sina-rubber-anim{
	animation: sina-rubber-anim 1.5s ease-in infinite;
}
.sina-scale-anim{
	animation: sina-scale-anim 1.5s cubic-bezier(0.1, 0.8, 0.8, 1) infinite;
}
.sina-wave-anim{
	position: relative;
	overflow: visible;
	z-index: 1;
}
.sina-wave-anim:after{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	z-index: -2;
	animation: sina-wave-anim 2s ease-in infinite;
}
@keyframes sina-anim-zooming{
	0%, 100%{transform: scale(1);}
	30%{transform: scale(1.5);}
}
@keyframes sina-anim-right-bouncing{
	0%{transform: translate(0);}
	20% {transform: translate(3px, -6px);}
	40% {transform: translate(6px, 6px);}
	60% {transform: translate(9px, -6px); opacity: 1;}
	100% {transform: translate(12px, 6px); opacity: 0;}
}
@keyframes sina-anim-left-bouncing{
	0%{transform: translate(0);}
	20% {transform: translate(-3px, -6px);}
	40% {transform: translate(-6px, 6px);}
	60% {transform: translate(-9px, -6px); opacity: 1;}
	100% {transform: translate(-12px, 6px); opacity: 0;}
}
@keyframes sina-anim-right-moving{
	0%{transform: translate(0);}
	60% {opacity: 1;}
	100% {transform: translate(12px); opacity: 0;}
}
@keyframes sina-anim-left-moving{
	0%{transform: translate(0);}
	60% {opacity: 1;}
	100% {transform: translate(-12px); opacity: 0;}
}
@keyframes sina-rubber-anim{
	0%, 45%, 70%, 100% {transform: scale(1);}
	15%, 40% {transform: scale(1.15, 0.9);}
	55%, 65% {transform: scale(1.1, 0.95);}
	75% {transform: scale(1.05, 0.97);}
}
@keyframes sina-scale-anim{
	0%, 100%{transform: scale(0.85);}
	25%{transform: scale(1.05);}
}
@keyframes sina-wave-anim{
	0% {box-shadow: 0 0 0 0;}
	60% {box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);}
	100% {box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);}
}
@keyframes blink_cursor {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}


/* RESPONSIVE-Tablet*/
@media (max-width: 991px) {
	.sina-portfolio-item{
		width: 50%;
		height: 400px;
	}
	.sina-bp-item-2,
	.sina-bp-item-3,
	.sina-bp-item-4{
		width: 50%;
	}
	.sina-bp-item-1,
	.sina-pt-content .sina-pt-posts,
	.sina-pt-content-content{
		width: 100%;
	}
}


/* RESPONSIVE-Mobile*/
@media (max-width: 767px) {
	.sina-posts-carousel .owl-next,
	.sina-posts-carousel .owl-prev,
	.sina-content-slider .owl-next,
	.sina-content-slider .owl-prev,
	.sina-review-carousel .owl-next,
	.sina-review-carousel .owl-prev,
	.sina-banner-slider .owl-next,
	.sina-banner-slider .owl-prev{
		display: none;
	}
	.sina-bp-col{
		width: calc(100% - 30px);
	}
	.sina-subs-input .sina-input-field{
		width: 180px;
	}
	.sina-contact-input .sina-input-field,
	.sina-subs-input .sina-input-block{
		width: 100%;
		margin-left: 0;
	}
	.sina-contact-input .sina-contact-btn,
	.sina-subs-input .sina-input-field,
	.sina-subs-input .sina-subs-btn{
		font-size: 14px;
		line-height: 20px;
	}
	.sina-contact-input-half{
		width: 100%;
	}
	.sina-contact-input-half:last-child{
		margin: 0;
	}
	.sina-nt-label-both{
		display: none;
	}
}


/* RESPONSIVE-Mobile Too Small*/
@media (max-width: 540px) {
	.sina-bp-item-1,
	.sina-bp-item-2,
	.sina-bp-item-3,
	.sina-bp-item-4,
	.sina-portfolio-item{
		width: 100%;
	}
}